$body-color: #1b3c54;
$main-color: #7AB800;
$heading-color: #022641;
$white-color: #ffffff;
$black-color: #000000;
$font-size: 15px;
$transition: all ease .5s;
$border-radius: 5px;
$box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);

/* Max width 767px */
@media only screen and (max-width: 767px) {

    body {
        font-size: $font-size;
    }
    .ptb-100 {
		padding: {
            top: 60px;
            bottom: 60px;
        };
	}
	.pt-100 {
		padding-top: 60px;
	}
	.pb-100 {
		padding-bottom: 60px;
	}
	.pb-70 {
		padding-bottom: 30px;
    }
    .pl-15 {
        padding-left: 0;
    }
    .pr-15 {
        padding-right: 0;
    }
    .pb-150 {
        padding-bottom: 60px;
    }
    .ml-15 {
        margin-left: 0;
    }
    .mr-15 {
        margin-right: 0;
    }
    .default-btn {
        font-size: 14px;
        padding: 9px 15px;
    }
    .read-more {
        font-size: 14px;
    }
    .form-control {
        height: 50px;
    }
    p {
        font-size: $font-size;
    }

    /* Banner Area */
    .banner-area {
        position: relative;
        z-index: 1;
        background-size: cover;
        padding-top: 60px;
        padding-bottom: 60px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        .container-fluid {
            padding-left: 12px;
            padding-right: 12px;
        }
    }
    .banner-content {
        h1 {
            font-size: 32px;
            margin-bottom: 25px;
            line-height: 40px;
        }
        .banner-btn {
            display: block !important;
            margin-bottom: 30px;
            p {
                margin-left: 0;
                font-size: 15px;
            }
        }
    }
    .tax-services {
        max-width: 100%;
    }

    /* Services Area */
    .single-tax-services {
        padding: 20px;
        h3 {
            font-size: 20px;
        }
        &::before {
            width: 3px;
        }
    }

    /* Futures Area */
    .futures-area {
        .container-fluid {
            padding-left: 12px;
            padding-right: 12px;
        }
    }
    .single-futures {
        padding-left: 0;
        padding: 20px;
        border: 1px solid #dddddd;
        .icon {
            position: unset;
            margin-bottom: 15px;
            span {
                top: 20px;
                left: 20px;
            }
        }
        h3 {
            font-size: 20px;
            margin-bottom: 15px;
        }
    }
    
    /* About Area */
    .about-area {
        .container-fluid {
            padding-left: 12px;
            padding-right: 12px;
        }
    }
    .about-img {
        .year-logo {
            display: none;
        }
        img {
            width: 100%;
        }
    }
    .about-content {
        margin-top: 30px;
        h2 {
            font-size: 28px;
            line-height: 40px;
        }
        .call-us {
            margin-top: 30px;
            a {
                font-size: 23px;
            }
        }
    }

    /* Section Area */
    .section-title {
        margin-bottom: 30px;
        h2 {
            font-size: 28px;
            line-height: 40px;
        }
    }

    /* Services Area */
    .services-area {
        .container-fluid {
            padding-left: 24px;
            padding-right: 24px;
        }
    }
    .single-services {
        margin-bottom: 30px;
        .services-content {
            padding: 20px;
            h3 {
                font-size: 20px;
            }
            p {
                margin-bottom: 15px;
                opacity: 1;
            }
        }
        &::before {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }


    /* Read TO Talk Area */
    .ready-to-talk-content {
        h2 {
            font-size: 28px;
        }
    }

    /* Choose Us Area */
    .choose-us-content {
        margin-bottom: 30px;
        margin-right: 0;
        .top-title {
            font-size: 14px;
        }
        h2 {
            font-size: 28px;
        }
        .pe-0 {
            padding-right: 12px !important;
        }
        .ps-0 {
            padding-left: 12px !important;
        }
        .col-lg-6 {
            &:nth-child(3) {
                .single-counter {
                    border-bottom: 1px solid #e5e5e5;
                }
            }
        }
    }
    .single-counter {
        border-right: none;
        h2 {
            font-size: 28px;
            margin-bottom: 5px;
            .target {
                top: 1px;
                font-size: 26px !important;
                margin-left: -8px;
            }
        }
    }
    .choose-us-img {
        margin-left: 0;
        margin-bottom: 0;
        &::before {
            display: none;
        }
    }

    /* Case Studies Area */
    .case-studies-wrap.p-y {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .case-studies-area {
        .container-fluid {
            padding-left: 12px;
            padding-right: 12px;
        }
    }
    .single-case-studies {
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $black-color;
            opacity: 0.5;
        }
        .case-studies-content {
            padding: 20px;
            h3 {
                font-size: 20px;
            }
            p {
                display: none;
            }
        }
    }
    .case-studies-wrap {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .case-studies-slide {
        &.owl-theme {
            .owl-nav {
                position: unset;
                margin-top: 0 !important;
                .owl-prev, .owl-next {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
    }

    /* Customer Area */
    .customer-area {
        .container-fluid {
            padding-left: 12px;
            padding-right: 12px;
        }
    }
    .customer-content {
        h2 {
            font-size: 28px;
            margin-bottom: 25px;
        }
        ul {
            margin-bottom: 40px;
            li {
                p {
                    margin-left: 0;
                    margin-left: -30px;
                }
            }
        }
    }
    .customer-wrap {
        margin-left: 0;
    }
    .customer-slide {
        &.owl-theme {
            .owl-nav {
                margin-top: 30px !important;
                .owl-prev, .owl-next {
                    margin-top: 0;
                    margin-bottom: 0;
                    position: unset;
                    transform: translateY(0);
                }
            }
        }
    }
    .single-customer {
        padding: 20px;
        .avataer {
            h3 {
                font-size: 20px;
            }
        }
    }

    /* Team Area */
    .single-team {
        .team-img {
            ul {
                bottom: 20px;
            }
        }
        .team-content {
            h3 {
                font-size: 20px;
            }
            span {
                font-size: 14px;
            }
        }
    }

    /* Blog Area */
    .single-blog {
        .blog-img {
            margin-bottom: 20px;
        }
        .blog-content {
            .tag {
                font-size: 14px;
            }
            h3 {
                font-size: 20px;
            }
            ul {
                li {
                    margin-right: 30px;
                    font-size: 14px;
                    &::before {
                        right: -22px;
                    }
                }
            }
        }
        &.style-two {
            img {
                margin-bottom: 20px;
            }
        }
    }

    /* Footer Area */
    .single-footer-widget {
        h3 {
            font-size: 22px;
            margin-bottom: 16px;
        }
    }
    .copy-right-area {
        .copy-right-wrap {
            text-align: center;
        }
    }
    .copy-right-social-icon {
        ul {
            text-align: center;
            margin-top: 10px;
        }
    }

    /* Page Banner Area */
    .page-banner-area {
        &::before {
            background-color: rgba(255, 255, 255, 0.7);
        }
    }
    .page-banner-content {
        h2 {
            font-size: 32px;
            margin-bottom: 10px;
        }
        ul {
            li {
                margin-right: 35px;
                &::before {
                    right: -22px;
                }
            }
        }
    }

    /* Page Appointment Area */
    .appointment-img {
        margin: 0;
        margin-bottom: 30px;
        &::before {
            display: none;
        }
        &::after {
            display: none;
        }
    }
    .appointment-form {
        .form-group {
            margin-bottom: 20px;
        }
    }

    /* Pricing Area */
    .single-pricing {
        padding: 20px;
        h3 {
            font-size: 20px;
        }
    }

    /* Widget Area */
    .widget-sidebar {
        .sidebar-widget {
            padding: 20px;
            h3 {
                margin-bottom: 15px;
                font-size: 20px;
            }
        }
    }

    /* Accordion Area */
    .accordion-item {
        .accordion-header {
            .accordion-button {
                font-size: 17px;
            }
        }
    }

    /* Widget Area */
    .sidebar-widget {
        &.project-info {
            margin-bottom: 30px !important;
        }
        &.srce-form {
            margin-top: 30px;
        }
    }

    /* Overview Area */
    .case-overview {
        h2 {
            font-size: 25px;
        }
    }
    .case-study-details {
        h4 {
            font-size: 20px;
        }
    }

    /* Login Area */
    .login-register-content {
        padding: 20px;
    }

    /* Main Content Area */
    .main-content-text {
        h3 {
            font-size: 20px;
        }
    }
   
    /* Coming Soon Area */
    .coming-soon-content {
        padding: 30px 20px;
        clip-path: none;
        h2 {
            margin-top: 0;
            font-size: 25px;
        }
        #timer {
            margin-top: 10px;
            div {
                width: 95px;
                height: 100px;
                font-size: 35px;
                margin-top: 20px;
                span {
                    font-size: 14px;
                }
            }
        }
        form {
            max-width: 100%;
            margin-top: 40px;
        }
        .newsletter-form {
            .default-btn {
                height: auto;
            }
        }
        form {
            .form-group {
                .form-control {
                    border-radius: 0;
                }
            }
        }
    }

    /* Blog Details Area */
    .blog-details-content {
        .blog-img {
            h2 {
                font-size: 25px;
            }
            ul {
                margin-bottom: 25px;
            }
        }
        .comments {
            h3 {
                font-size: 22px;
            }
        }
        .leave-form {
            h3 {
                font-size: 22px;
            }
        }
        blockquote {
            padding-left: 0;
            i {
                opacity: 0.1;
            }
            p {
                font-size: 16px;
            }
        }
        .tag-social {
            display: block !important;
            .social-link {
                margin-top: 20px;
            }
        }
        .comments {
            ul {
                li {
                    display: block !important;
                    img {
                        margin-bottom: 10px;
                    }
                    .comment-details {
                        margin-left: 0 !important;
                    }
                }
            }
        }
    }

    /* Conatct Info Area Style */
    .contact-info-area {
        .container-fluid {
            .pe-0 {
                padding-right: 12px !important;
            }
        }
    }
    .contact-info-content {
        max-width: 100%;
        h2 {
            font-size: 25px;
        }
        ul li h3 {
            h3 {
                font-size: 16px;
            }
        }
    }
    .services-details h3 {
        font-size: 25px;
    }
    .appointment-form {
        margin-left: 0;
    }
    .others-option-for-responsive .others-options ul li.srac-bar .option-item .search-overlay.search-popup {
        right: -142px;
    }
    .single-futures {
        margin-right: 0;
    }
    
}

/* Min width 500px to Max width 767px */
@media only screen and (min-width: 500px) and (max-width: 767px) {
   

    /* About area */
    .about-img {
        .col-sm-6 {
            flex: 0 0 auto;
            width: 50%;
        }
        .align-items-end {
            align-items: center !important;
        }
    }

    /* Choose Content Arae */
    .choose-us-content {
        margin-bottom: 6px;
        .col-sm-6 {
            flex: 0 0 auto;
            width: 50%;
        }
    }
    .single-counter {
        border: none !important;
        margin-bottom: 24px;
    }

    /* Customer Content Arae */
    .customer-content {
        ul {
            margin-bottom: 30px;
            li {
                p {
                    margin-left: 20px;
                }
            }
        }
    }

    /* Team Content Arae */
    .team-area {
        .col-sm-6 {
            flex: 0 0 auto;
            width: 50%;
        }
    }
    .container-fluid {
        max-width: 540px !important;
    }
    .case-studies-wrap {
        background-size: cover;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .copy-right-social-icon ul {
        text-align: left;
    }

    /* Banner Area */
    .banner-area {
        .container-fluid {
            padding-left: 12px;
            padding-right: 12px;
            max-width: 540px;
        }
    }

    /* Futures Area */
    .futures-area {
        .container-fluid {
            max-width: 540px;
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    /* About Area */
    .about-area {
        .container-fluid {
            max-width: 540px;
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    /* Services Area */
    .services-area {
        padding-bottom: 30px;
        .container-fluid {
            max-width: 540px;
            padding-left: 12px;
            padding-right: 12px;
        }
        .p-0  {
            padding-left: 12px !important;
            padding-right: 12px !important;
        }
    }
    .single-services {
        .services-content {
            p {
                display: none;
            }
        }
    }

    /* Conatct Info Area Style */
    .contact-info-area {
        .container-fluid {
            max-width: 540px;
            .pe-0 {
                padding-right: 12px !important;
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .copy-right-social-icon ul {
        text-align: left;
    }
    body {
        font-size: $font-size;
    }
    .ptb-100 {
		padding: {
            top: 60px;
            bottom: 60px;
        };
	}
	.pt-100 {
		padding-top: 60px;
	}
	.pb-100 {
		padding-bottom: 60px;
	}
	.pb-70 {
		padding-bottom: 30px;
    }
    .pl-15 {
        padding-left: 0;
    }
    .pr-15 {
        padding-right: 0;
    }
    .pb-150 {
        padding-bottom: 60px;
    }
    .ml-15 {
        margin-left: 0;
    }
    .mr-15 {
        margin-right: 0;
    }
    .default-btn {
        font-size: 14px;
        padding: 9px 15px;
    }
    .read-more {
        font-size: 14px;
    }
    .form-control {
        height: 50px;
    }
    p {
        font-size: $font-size;
    }

    /* Banner Area */
    .banner-area {
        position: relative;
        z-index: 1;
        background-size: cover;
        padding-top: 60px;
        padding-bottom: 60px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        .container-fluid {
            padding-left: 12px;
            padding-right: 12px;
            max-width: 720px;
        }
    }
    h3.custom-subtitle {
        text-align: center;
        margin-bottom: 25px;
    }
    .ready-to-talk-content h2{
        font-size: 32px !important;
    }
    h2 {
        font-size: 32px !important;
    }
    .single-case-studies1 .services-content.bg-color-white .podcast-content h3 a {
        font-size: 18px !important;
    }
    
    section.events-on-demand .single-services .services-content p{
        display: none;
    }
    .home-about-us{
        h2, p{
            text-align: center;
        }
        .overlap-group {
            text-align: center;
            justify-content: center;
        }
    }
    .banner-content {
        padding: 40px 0 !important;
        padding-bottom: 10px;
        h1 {
            font-size: 42px;
            margin-bottom: 25px;
            line-height: 50px;
            width: 82%;
        }
        p {
            font-size: 15px;
        }
        .banner-btn {
            margin-bottom: 30px;
        }
    }
    .tax-services {
        max-width: 100%;
    }

    /* Services Area */
    .single-tax-services {
        padding: 20px;
        max-width: 33.33%;
        display: table-cell;
        h3 {
            font-size: 20px;
        }
        &::before {
            width: 3px;
        }
    }

    /* Futures Area */
    .futures-area {
        .container-fluid {
            padding-left: 12px;
            padding-right: 12px;
            max-width: 720px;
        }
    }
    .single-futures {
        padding-left: 0;
        padding: 20px;
        border: 1px solid #dddddd;
        .icon {
            position: unset;
            margin-bottom: 15px;
            span {
                top: 20px;
                left: 20px;
            }
        }
        h3 {
            font-size: 20px;
            margin-bottom: 15px;
        }
    }
    
    /* About Area */
    .about-area {
        .container-fluid {
            padding-left: 12px;
            padding-right: 12px;
            max-width: 720px;
        }
    }
    .about-img {
        .year-logo {
            display: none;
        }
        img {
            width: 100%;
        }
    }
    .about-content {
        margin-top: 30px;
        h2 {
            font-size: 28px;
            line-height: 40px;
        }
        .call-us {
            margin-top: 30px;
        }
    }

    /* Section Area */
    .section-title {
        margin-bottom: 30px;
        h2 {
            font-size: 28px;
            line-height: 40px;
        }
    }

    /* Services Area */
    .services-area {
        padding-bottom: 30px;
        .container-fluid {
            padding-left: 12px;
            padding-right: 12px;
            max-width: 720px;
        }
        .p-0  {
            padding-left: 12px !important;
            padding-right: 12px !important;
        }
    }
    .single-services {
        margin-bottom: 30px;
        .services-content {
            padding: 20px;
            h3 {
                font-size: 20px;
            }
            p {
                margin-bottom: 15px;
                opacity: 1;
            }
        }
        &::before {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }


    /* Read TO Talk Area */
    .ready-to-talk-content {
        h2 {
            font-size: 28px;
        }
    }

    /* Choose Us Area */
    .choose-us-content {
        margin-bottom: 6px;
        margin-right: 0;
        .top-title {
            font-size: 14px;
        }
        h2 {
            font-size: 28px;
            line-height: 40px;
        }
        .pe-0 {
            padding-right: 12px !important;
        }
        .ps-0 {
            padding-left: 12px !important;
        }
        .col-lg-6 {
            &:nth-child(3) {
                .single-counter {
                    border-bottom: 1px solid #e5e5e5;
                }
            }
        }
    }
    .single-counter {
        border: none !important;
        margin-bottom: 24px;
        h2 {
            font-size: 28px;
            margin-bottom: 5px;
            .target {
                top: 1px;
                font-size: 26px !important;
                margin-left: -8px;
            }
        }
    }
    .choose-us-img {
        margin-left: 0;
        margin-bottom: 0;
        &::before {
            display: none;
        }
    }

    /* Case Studies Area */
    .case-studies-wrap.p-y {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .case-studies-area {
        .container-fluid {
            padding-left: 12px;
            padding-right: 12px;
            max-width: 720px;
        }
    }
    .single-case-studies {
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $black-color;
            opacity: 0.5;
        }
        .case-studies-content {
            padding: 20px;
            h3 {
                font-size: 20px;
            }
            p {
                display: none;
            }
        }
    }
    .case-studies-wrap {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .case-studies-slide {
        &.owl-theme {
            .owl-nav {
                position: unset;
                margin-top:40px !important;
                .owl-prev, .owl-next {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
    }

    /* Customer Area */
    .customer-area {
        .container-fluid {
            padding-left: 12px;
            padding-right: 12px;
            max-width: 720px;
        }
    }
    .customer-content {
        text-align: center;
        h2 {
            font-size: 28px;
            margin-bottom: 25px;
        }
        ul {
            margin-bottom: 30px;
        }
    }
    .customer-wrap {
        margin-left: 0;
    }
    .customer-slide {
        &.owl-theme {
            .owl-nav {
                margin-top: 30px !important;
                .owl-prev, .owl-next {
                    margin-top: 0;
                    margin-bottom: 0;
                    position: unset;
                    transform: translateY(0);
                }
            }
        }
    }
    .single-customer {
        padding: 20px;
        .avataer {
            h3 {
                font-size: 20px;
            }
        }
    }

    /* Team Area */
    .single-team {
        .team-img {
            ul {
                bottom: 20px;
            }
        }
        .team-content {
            h3 {
                font-size: 20px;
            }
            span {
                font-size: 14px;
            }
        }
    }

    /* Blog Area */
    .single-blog {
        .blog-img {
            margin-bottom: 20px;
        }
        .blog-content {
            .tag {
                font-size: 14px;
            }
            h3 {
                font-size: 20px;
            }
            ul {
                li {
                    margin-right: 30px;
                    font-size: 14px;
                    &::before {
                        right: -22px;
                    }
                }
            }
        }
    }

    /* Footer Area */
    .single-footer-widget {
        h3 {
            font-size: 22px;
            margin-bottom: 16px;
        }
    }
    .copy-right-area {
        .copy-right-wrap {
            text-align: center;
        }
    }
    .copy-right-social-icon {
        ul {
            text-align: left;
            margin-top: 0px;
        }
        
    }


    /* Page Banner Area */
    .page-banner-area {
        &::before {
            background-color: rgba(255, 255, 255, 0.7);
        }
    }
    .page-banner-content {
        h2 {
            font-size: 32px;
            margin-bottom: 10px;
        }
        ul {
            li {
                margin-right: 35px;
                &::before {
                    right: -22px;
                }
            }
        }
    }

    /* Page Appointment Area */
    .appointment-img {
        margin: 0;
        margin-bottom: 30px;
        &::before {
            display: none;
        }
        &::after {
            display: none;
        }
    }
    .appointment-form {
        .form-group {
            margin-bottom: 20px;
        }
    }

    /* Pricing Area */
    .single-pricing {
        padding: 20px;
        h3 {
            font-size: 20px;
        }
    }

    /* Widget Area */
    .sidebar-widget {
        &.project-info {
            margin-bottom: 30px !important;
        }
        &.srce-form {
            margin-top: 30px;
        }
    }

    /* Overview Area */
    .case-overview {
        h2 {
            font-size: 25px;
        }
    }
    .case-study-details {
        h4 {
            font-size: 20px;
        }
    }

    /* Login Area */
    .login-register-content {
        padding: 30px;
    }

    /* Main Content Area */
    .main-content-text {
        h3 {
            font-size: 20px;
        }
    }

    /* Blog Details Area */
    .blog-details-content {
        .blog-img {
            h2 {
                font-size: 25px;
            }
        }
        .comments {
            h3 {
                font-size: 22px;
            }
        }
        .leave-form {
            h3 {
                font-size: 22px;
            }
        }
    }

    /* Conatct Info Area Style */
    .contact-info-area {
        .container-fluid {
            max-width: 720px;
            .pe-0 {
                padding-right: 12px !important;
            }
        }
    }
    .contact-info-content {
        max-width: 100%;
        h2 {
            font-size: 25px;
        }
        ul li h3 {
            h3 {
                font-size: 16px;
            }
        }
    }
    .services-details h3 {
        font-size: 25px;
    }
    .appointment-form {
        margin-left: 0;
    }
    .container-fluid {
        max-width: 720px !important;
    }
    .case-studies-wrap {
        background-size: cover;
    }
    .widget-sidebar .sidebar-widget {
        padding: 30px;
    }
    .single-futures {
        margin-right: 0;
    }
    section.custom-about-section img {
        height: 350px !important;
        -o-object-fit: cover;
        object-fit: cover;
        margin-top: 20px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .ml-15 {
        margin-left: 0;
    }
    .mr-15 {
        margin-right: 0;
    }
    /* Futures Area Style */
    .single-futures {
        padding-left: 0;
        .icon {
            position: relative;
            margin-bottom: 15px;
            span {
                top: 0;
                left: 0;
            }
        }
        h3 {
            font-size: 20px;
            margin-bottom: 15px;
        }
    }

    /* About Area Style */
    .about-content {
        ul {
            li {
                font-size: 14px;
            }
        }
    }
    .about-content {
        .call-us {
            padding: 20px;
            padding-left: 65px;
            i {
                left: 20px;
                top: 25px;
            }
            a {
                font-size: 16px;
            }
        }
    }

    /* Services Area Style */
    .single-services {
        .services-content {
            p {
                display: none;
            }
        }
    }

    /* Case Studies Area Style */
    .single-case-studies {
        .case-studies-content {
            p {
                display: none;
            }
        }
    }

    /* Customer Area Style */
    .customer-wrap {
        margin-left: 0;
    }
    .customer-content {
        h2 {
            font-size: 35px;
        }
        ul {
            li {
                p {
                    margin-left: -30px;
                }
            }
        }
    }
    .customer-slide {
        &.owl-theme {
            .owl-nav {
                .owl-prev {
                    left: -22px;
                }
                .owl-next {
                    right: -22px;
                }
            }
        }
    }

    /* Blog Area Style */
    .single-blog {
        .blog-content {
            h3 {
                font-size: 20px;
            }
        }
    }

    /* Pricing Area Style */
    .single-pricing {
        padding: 20px;
    }

    /* Conatct Info Area Style */
    .contact-info-area {
        .container-fluid {
            max-width: 960px;
            .pe-0 {
                padding-right: 12px !important;
            }
        }
    }
    .contact-info-content {
        max-width: 100%;
    }

    /** After Review CSS **/
    .banner-content {
        h1 {
            font-size: 60px;
            line-height: 70px;
        }
    }
    .desktop-nav .navbar .others-options ul li .default-btn {
        padding: 10px 16px;
        span {
            display: none;
        }
        i {
            display: inline-block;
            margin-left: 0;
        }
    }
    .navbar-area {
        .navbar-brand {
            margin-right: 30px;
        }
    }
    .desktop-nav {
        .navbar {
            .navbar-nav {
                .nav-item {
                    a {
                        margin-left: 10px;
                        margin-right: 10px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
    
    .desktop-nav .navbar .others-options ul li.src-lang .language-content .language {
        top: -1px;
    }
    .desktop-nav .navbar .others-options ul li.src-lang .search-box .form-control:focus {
        width: 740px;
    }
    .about-content {
        h2 {
            font-size: 36px;
        }
    }
    .section-title {
        .top-title {
            font-size: 14px;
        }
        h2 {
            font-size: 36px;
        }
    }
    .single-blog {
        .blog-content {
            ul {
                li {
                    margin-right: 20px;
                    font-size: 14px;
                    &:last-child {
                        margin-right: 0;
                    }
                    &::before {
                        right: -16px;
                    }
                }
            } 
        }
    }
    .single-footer-widget {
        .contact-info {
            li {
                padding-left: 80px;
            }
        }
    }
    .desktop-nav {
        .navbar {
            .others-options {
                ul {
                    li {
                        margin-right: 16px;
                    }
                }
            }
        }
    }
    .desktop-nav .navbar .others-options ul li.src-lang .language-content .language {
        margin-right: 25px;
    }
    .single-customer {
        padding: 20px;
        .avataer {
            h3 {
                font-size: 18px;
            }
            span {
                font-size: 14px;
            }
        }
    }
    .banner-area {
        background-size: cover;
      
    }
    .single-blog .blog-content h4 {
        font-size: 20px;
        line-height: 28px;
    }
    .choose-us-content {
        margin-right: 0;
    }
    .single-services .services-content {
        padding: 20px;
    }
    .appointment-img {
        margin-right: 30px;
    }
    .appointment-form {
        margin-left: 0;
    }
    .widget-sidebar .sidebar-widget {
        padding: 25px;
    }
    .container-fluid {
        max-width: 960px !important;
    }
    .single-futures {
        margin-right: 0;
    }
    

}

/* Mobile and iPad Navbar */
@media only screen and (max-width: 1024px) {
    
    .navbar-area {
        border-bottom: 1px solid #efefef;
        z-index: 2;
        .container-fluid {
            padding-left: 0;
            padding-right: 0;
        }
        padding: {
            top: 15px;
            bottom: 15px;
        };
        .dropdown-toggle {
            &::after {
                display: none;
            }
        }
        &.navbar-top {
            transform: translateY(0);
        }
        .is-sticky {
            border: none;
        }
    }
    .mobile-responsive-nav {
        display: block;
        .mean-container {
            .navbar-nav {
                .nav-item.mega-menu {
                    .dropdown-menu {
                        .nav-item {
                            .row {
                                display: block;
                                flex-wrap: unset;
                                margin-left: 0;
                                margin-right: 0;
                                margin-top: -20px;
                                .col {
                                    flex-basis: unset;
                                    flex-grow: unset;
                                    max-width: 100%;
                                    padding-left: 0;
                                    padding-right: 0;
                                    padding-top: 20px;
                                    .sub-menu-title {
                                        padding: 1em 10%;
                                    }
                                }
                            }
                        }
                        .sub-menu {
                            width: auto;
                            overflow: hidden;
                            display: block!important;
                            padding-left: 0;
                            padding-right: 0;
                            li {
                                a {
                                    padding: 1em 10%;
                                }
                                &:last-child {
                                    a {
                                        padding-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .mobile-responsive-menu {
            position: relative;
            .logo {
                position: relative;
                z-index: 2;
                max-width: 185px;
            }
            &.mean-container {
                .mean-nav {
                    margin-top: 55px;
                    background-color: $white-color;
                    ul {
                        border: none !important;
                        background-color: $white-color;
                        li {
                            a {
                                border-top-color: #efefef;
                                color: $heading-color !important;
                                font-size: 14px !important;
                                font-weight: 600;
                                text-transform: capitalize;
                                i {
                                    display: none;
                                }
                                &.mean-expand {
                                    width: 100%;
                                    height: 28px;
                                    text-align: right;
                                    padding: 11px!important;
                                    background: transparent !important;
                                    border: {
                                        left: none !important;
                                        bottom: none !important;
                                    };
                                }
                                &.active {
                                    color: #7AB800 !important;
                                }
                            }
                            li {
                                a {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
                .navbar-nav {
                    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .1);
                    margin-top: 0 !important;
                    max-height: 50vh;
                    overflow-y: scroll;
                    /* width */
                    &::-webkit-scrollbar {
                        width: 7px;
                    }
                    /* Track */
                    &::-webkit-scrollbar-track {
                        background: #f1f1f1;
                    }
                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: #888;
                    }
                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {  
                        background: #555;
                    }
                }
                a {
                    &.meanmenu-reveal {
                        top: 0;
                        padding: 0;
                        width: 35px;
                        height: 30px;
                        padding-top: 16px;
                        color: #7AB800;
                        span {
                            background: #7AB800;
                            height: 4px;
                            margin-top: -6px;
                            border-radius: 0;
                            position: relative;
                            top: 8px;
                        }
                    }
                }
                .mean-bar {
                    background: transparent;
                    position: absolute;
                    z-index: 2;
                    padding: 0;
                }
            }
        }
        .others-options {
            display: none !important;
        }
    }
    .desktop-nav {
        display: none !important;
    }
    .others-option-for-responsive {
        display: block !important;
        .container {
            .container {
                right: 0;
            }
        }
        .others-options {
            border-radius: 0;
            ul {
                li {
                    margin-right: 0;
                    &.src-lang {
                        .search-box {
                            top: 0;
                            .form-control {
                                height: 35px;
                                &:focus {
                                    width: 195px;
                                }
                            }
                            .search-btn, .close-btn {
                                width: 35px;
                                height: 35px;
                                font-size: 18px;
                            }
                        }
                        .language-content {
                            .language {
                                .select {
                                    padding: 0;
                                    width: 155px;
                                    text-align: left;
                                }
                            }
                        }
                    }
                    .default-btn {
                        margin-top: 5px;
                        display: flex;
                    }
                }
            }
        }
    }
    .fixed-top {
        position: unset;
    }
    .wow{
        animation-name: none !important;
        visibility: visible !important;
    }
    .banner-content {
        padding: 130px 0;
        padding-bottom: 30px;
    }
    h2 {
        font-size: 38px;
    }
    section.custom-about-section .col-lg-6.bg-green.p-0 .overlap {
        position: unset;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
        text-align: left;
        width: 100%;
        padding: 34px;
    }
    
    .facts-figure-list .overlap-group{
        font-size: 42px;
    }
    section.custom-about-section img {
        height: 100%;
        object-fit: cover;
    }
    .ready-to-talk-content h2 {
        font-size: 42px;
    }
    .ptb-130 {
        padding: 60px 0;
    }
    .single-case-studies1 .services-content.bg-color-white .podcast-content h3 a{
        font-size: 22px;
    }
    .single-case-studies1 .services-content.bg-color-white .podcast-content p{
        font-size: 18px;
        line-height: 22px;
    }
    p {
        font-size: 18px;        
        line-height: 22px;
    }
    .section-title h2 {
        font-size: 36px;
    }
    .cta-book-section{
        background-size: cover;
        text-align: center;
        img{
            width: 360px;
        }
        .custom-align-rtl{
            text-align: center;
            width: 100%;
        }
        .section-title{
            max-width: 100%;
            padding-left: 0;
        }     
    }
    .single-footer-widget h3 {
        font-size: 20px !important;
    }
}

/* Continuer Custom Width Area Style */
@media only screen and (min-width : 1200px) and (max-width : 1399px) {

    .container {
        max-width: 1220px;
    }
    .cta-book-section{
        background-size: cover;
    }

    /* Customer Area Style */
    .customer-slide {
        &.owl-theme {
            .owl-nav {
                .owl-prev {
                    left: -22px;
                }
                .owl-next {
                    right: -22px;
                }
            }
        }
    }

    .single-services {
        .services-content {
            p {
                display: none;
            }
        }
    }
    .single-case-studies {
        .case-studies-content {
            p {
                display: none;
            }
        }
    }
    .customer-content ul li p {
        margin-left: -30px;
    }
}

@media only screen and (max-width:500px) {
    .banner-content {
        padding: 40px 0;
        padding-bottom: 0;
    }
    h2 {
        font-size: 30px;
    }
    .banner-content h1 {
        font-size: 34px;
        margin-bottom: 25px;
        line-height: 41px;
    }
    .facts-figure-list .overlap-group {
        font-size: 32px;
    }
    .custom-subtitle {
        font-size: 30px;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 25px;
    }
    section.events-on-demand .single-services {
        margin-right: 0;
    }
    .ready-to-talk-content h2 {
        font-size: 24px;
    }
    .default-btn-bordered{
        padding: 8px 20px;
    }
    .insight-section{
    
    h2{
        text-align:left ;
    }
    p {
        color: #fff;
        text-align: left;
    }
        .col-lg-5.col-md-12{
            a{
                text-align: right;
        margin: 0 auto;
        justify-content: center;
        display: block;
        margin-bottom: 20px;
            }
        }
    }
    .single-services .services-content p {
        display: none;
    }
    .section-title h2 {
        font-size: 30px;
        padding: 10px 0;
    }
    .w-85 {
        width: 100%;
    }
    select.form-select {
        margin-top: 15px;
    }
    .custom-insights-section h2.text-wrapper.custom-text-white {
        text-align: center;
    }
}