/* Group */

position: absolute;
width: 1030.02px;
height: 683.13px;



/* Vector */

position: absolute;
width: 57.98px;
height: 66.45px;

background: #83B500;


/* Vector */

position: absolute;
width: 57.97px;
height: 66.45px;

background: #559900;


/* Vector */

position: absolute;
width: 58.43px;
height: 66.98px;

background: #82B300;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #94BF17;
opacity: 0.4;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #6FA900;
opacity: 0.6;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #94BF17;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #94BF17;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.98px;

background: #94BF17;
opacity: 0.3;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.98px;

background: #94BF17;
opacity: 0.3;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #94BF17;
opacity: 0.1;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #94BF17;
opacity: 0.1;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.98px;

background: #94BF17;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.98px;

background: #94BF17;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #94BF17;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.98px;

background: #94BF17;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #94BF17;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.43px;
height: 66.98px;

background: #94BF17;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.98px;

background: #C1FF00;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.98px;

background: #C1FF00;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #C1FF00;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.98px;

background: #C1FF00;
opacity: 0.1;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #C1FF00;
opacity: 0.1;


/* Vector */

position: absolute;
width: 58.43px;
height: 66.97px;

background: #C1FF00;
opacity: 0.1;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #C1FF00;
opacity: 0.32;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.98px;

background: #C1FF00;
opacity: 0.1;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.98px;

background: #C1FF00;
opacity: 0.1;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.98px;

background: #94BF17;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.98px;

background: #94BF17;
opacity: 0.5;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #94BF17;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.43px;
height: 66.97px;

background: #94BF17;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #94BF17;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.98px;

background: #94BF17;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #94BF17;
opacity: 0.45;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.98px;

background: #94BF17;
opacity: 0.1;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #94BF17;
opacity: 0.1;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #94BF17;
opacity: 0.1;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #94BF17;
opacity: 0.1;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #94BF17;
opacity: 0.51;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #94BF17;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #8BBA03;
opacity: 0.72;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.98px;

background: #6FA900;
opacity: 0.6;


/* Vector */

position: absolute;
width: 58.43px;
height: 66.98px;

background: #6FA900;
opacity: 0.6;


/* Vector */

position: absolute;
width: 58.43px;
height: 66.98px;

background: #94BF17;
opacity: 0.4;


/* Vector */

position: absolute;
width: 58.43px;
height: 66.98px;

background: #94BF17;
opacity: 0.4;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.98px;

background: #94BF17;
opacity: 0.4;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.98px;

background: #94BF17;
opacity: 0.4;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.98px;

background: #94BF17;
opacity: 0.4;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #98C11F;


/* Vector */

position: absolute;
width: 58.43px;
height: 66.98px;

background: #8BBA03;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #8BBA03;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.98px;

background: #8BBA03;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #8BBA03;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.62px;
height: 66.97px;

background: #8BBA03;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.98px;

background: #559900;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #559900;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #559900;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #91BD0F;


/* Vector */

position: absolute;
width: 58.11px;
height: 66.6px;

background: #83B500;


/* Vector */

position: absolute;
width: 58.43px;
height: 66.97px;

background: #74AC00;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #559900;


/* Vector */

position: absolute;
width: 58.43px;
height: 66.98px;

background: #74AC00;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #74AC00;


/* Vector */

position: absolute;
width: 58.43px;
height: 66.97px;

background: #74AC00;
opacity: 0.4;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #74AC00;
opacity: 0.4;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #98C11F;
opacity: 0.3;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #98C11F;
opacity: 0.3;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #8BBA03;
opacity: 0.72;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.98px;

background: #98C11F;
opacity: 0.3;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #74AC00;
opacity: 0.4;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.98px;

background: #64A200;


/* Vector */

position: absolute;
width: 58.11px;
height: 66.6px;

background: #83B500;


/* Vector */

position: absolute;
width: 58.11px;
height: 66.6px;

background: #83B500;


/* Vector */

position: absolute;
width: 58.1px;
height: 66.59px;

background: #83B500;


/* Vector */

position: absolute;
width: 58.11px;
height: 66.59px;

background: #8AB901;


/* Vector */

position: absolute;
width: 58.1px;
height: 66.59px;

background: #7EB100;


/* Vector */

position: absolute;
width: 58.11px;
height: 66.6px;

background: #6FA900;


/* Vector */

position: absolute;
width: 58.1px;
height: 66.59px;

background: #7EB100;


/* Vector */

position: absolute;
width: 58.11px;
height: 66.6px;

background: #7EB100;


/* Vector */

position: absolute;
width: 58.1px;
height: 66.59px;

background: #85B600;


/* Vector */

position: absolute;
width: 58.1px;
height: 66.6px;

background: #85B600;


/* Vector */

position: absolute;
width: 58.11px;
height: 66.6px;

background: #85B600;


/* Vector */

position: absolute;
width: 58.1px;
height: 66.59px;

background: #85B600;


/* Vector */

position: absolute;
width: 58.1px;
height: 66.6px;

background: #A6CC38;


/* Vector */

position: absolute;
width: 58.1px;
height: 66.6px;

background: #A6CC38;


/* Vector */

position: absolute;
width: 58.1px;
height: 66.6px;

background: #A6CC38;


/* Vector */

position: absolute;
width: 58.11px;
height: 66.6px;

background: #85B600;


/* Vector */

position: absolute;
width: 58.11px;
height: 66.6px;

background: #85B600;


/* Vector */

position: absolute;
width: 58.04px;
height: 66.45px;

background: #8BBA03;


/* Vector */

position: absolute;
width: 58.04px;
height: 66.45px;

background: #8BBA03;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.98px;

background: #8BBA03;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.97px;

background: #559900;


/* Vector */

position: absolute;
width: 58.43px;
height: 66.97px;

background: #559900;


/* Vector */

position: absolute;
width: 58.43px;
height: 66.97px;

background: #559900;
opacity: 0.65;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.97px;

background: #559900;
opacity: 0.65;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.98px;

background: #6FA900;


/* Vector */

position: absolute;
width: 58.5px;
height: 66.98px;

background: #98C11F;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.97px;

background: #82B300;


/* Vector */

position: absolute;
width: 58.5px;
height: 66.97px;

background: #82B300;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.97px;

background: #8DBB07;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.98px;

background: #8DBB07;
opacity: 0.4;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.97px;

background: #8DBB07;
opacity: 0.4;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.97px;

background: #82B300;
opacity: 0.46;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.98px;

background: #9EC62B;


/* Vector */

position: absolute;
width: 58.5px;
height: 66.97px;

background: #AACF3B;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.97px;

background: #82B300;
opacity: 0.46;


/* Vector */

position: absolute;
width: 58.5px;
height: 66.98px;

background: #6FA900;
opacity: 0.6;


/* Vector */

position: absolute;
width: 58.71px;
height: 66.97px;

background: #A4CA30;
opacity: 0.46;


/* Vector */

position: absolute;
width: 58.71px;
height: 66.97px;

background: #A4CA30;
opacity: 0.46;


/* Vector */

position: absolute;
width: 58.71px;
height: 66.97px;

background: #A4CA30;
opacity: 0.46;


/* Vector */

position: absolute;
width: 58.7px;
height: 66.97px;

background: #A4CA30;
opacity: 0.5;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.98px;

background: #A4CA30;
opacity: 0.46;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #8BBA03;
opacity: 0.36;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #A4CA30;
opacity: 0.46;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #A4CA30;
opacity: 0.46;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #A4CA30;
opacity: 0.46;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #A4CA30;
opacity: 0.46;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.98px;

background: #A4CA30;
opacity: 0.46;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.98px;

background: #CEC330;
opacity: 0.15;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.98px;

background: #CEC330;
opacity: 0.15;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.98px;

background: #CEC330;
opacity: 0.15;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #CEC330;
opacity: 0.15;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.98px;

background: #CEC330;
opacity: 0.15;


/* Vector */

position: absolute;
width: 58.43px;
height: 66.98px;

background: #C1FF00;
opacity: 0.1;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.98px;

background: #CEC330;
opacity: 0.15;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #CEC330;
opacity: 0.15;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #CEC330;
opacity: 0.15;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #CEC330;
opacity: 0.15;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #CEC330;
opacity: 0.15;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #CEC330;
opacity: 0.15;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #C1FF00;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.43px;
height: 66.98px;

background: #C1FF00;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #CEC330;
opacity: 0.15;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #A4CA30;
opacity: 0.46;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.98px;

background: #A4CA30;
opacity: 0.46;


/* Vector */

position: absolute;
width: 58.44px;
height: 66.97px;

background: #74AC00;
opacity: 0.4;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.98px;

background: #A4CA30;
opacity: 0.46;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #A4CA30;
opacity: 0.81;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.98px;

background: #A4CA30;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #A4CA30;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.98px;

background: #8BBA03;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #A4CA30;
opacity: 0.51;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.98px;

background: #A4CA30;
opacity: 0.15;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #A4CA30;
opacity: 0.15;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #A4CA30;
opacity: 0.1;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.98px;

background: #A4CA30;
opacity: 0.1;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #A4CA30;
opacity: 0.1;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.98px;

background: #A4CA30;
opacity: 0.1;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #A4CA30;
opacity: 0.1;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.98px;

background: #A4CA30;
opacity: 0.1;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #A4CA30;
opacity: 0.1;


/* Vector */

position: absolute;
width: 58.55px;
height: 67.66px;

background: #A4CA30;
opacity: 0.1;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #98C11F;
opacity: 0.3;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #A4CA30;
opacity: 0.1;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.98px;

background: #A4CA30;
opacity: 0.1;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #A4CA30;
opacity: 0.1;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #A4CA30;
opacity: 0.65;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #8BBA03;
opacity: 0.72;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.98px;

background: #A4CA30;
opacity: 0.46;


/* Vector */

position: absolute;
width: 58.52px;
height: 66.97px;

background: #A4CA30;
opacity: 0.25;


/* Vector */

position: absolute;
width: 58.62px;
height: 66.97px;

background: #6FA900;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.97px;

background: #6FA900;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.97px;

background: #559900;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.97px;

background: #559900;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.98px;

background: #559900;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.98px;

background: #85B600;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.97px;

background: #85B600;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.97px;

background: #85B600;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.97px;

background: #85B600;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.97px;

background: #85B600;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.97px;

background: #91BD0F;
opacity: 0.4;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.97px;

background: #7AAF00;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.97px;

background: #8BBA03;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.97px;

background: #7CB000;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.97px;

background: #83B500;


/* Vector */

position: absolute;
width: 58.5px;
height: 66.98px;

background: #74AC00;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.97px;

background: #74AC00;


/* Vector */

position: absolute;
width: 58.49px;
height: 66.97px;

background: #82B300;
opacity: 0.46;
